html {
  background-image: url(../images/background.jpg);
  overflow-y: hidden;
}

body {
  /*background-image: url(../images/background.jpg);*/
}

h1 {
  text-align: center;
}

.jumbotron {
  background-image: url(../images/pig.png), url(../images/dice.png);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
  background-color: grey;
}

.row {
  margin-left: 50px;
}

.gameScreen {
  display: none;
}

.column1player {
  border: 2px solid red;
  border-radius: 5px;
  padding: 0;
}

.column2player {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 0;
}

.column1player:hover {
    box-shadow: 0 0 5px red;
    background-color: #FFF1F1;
}

.column2player:hover {
    box-shadow: 0 0 10px blue;
    background-color: #F1F1FF;
}

.versus {
  background-image: url(../images/fire.png);
  background-position: center;
  background-size: 180px 240px;
  background-repeat: no-repeat;
  height: 300px;
  padding-top: 100px;
  margin-top: -60px;
}

.versus img {
  height: 150px;
  width: 150px;
  margin-right: 10px;
}

.versus button {
  margin-left: 15%;
}

#player1name:hover {
  box-shadow: 0 0 5px red;
}

#player2name:hover {
  box-shadow: 0 0 5px blue;
}

#player1name, #player2name , #inputPlayer1name , #inputPlayer2name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

footer {
  margin-top: 50px;
  margin-bottom: 1000px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 1000px;
  /*background-image: url(../images/background.jpg);*/
}
