h1 {
  text-align: center;
}

.jumbotron {
  background-image: url(../image/pig.jpg), url(../image/dice.jpg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
}

.gameScreen {
  display: none;
}

.column1player {
  border: 2px solid red;
  border-radius: 5px;
}

.column2player {
  border: 2px solid blue;
  border-radius: 5px;
}

.versus img {
  height: 150px;
  width: 150px;
  margin-right: 10px;
}

.versus button {
  margin-left: 15%;
}

#player1name:hover {
  box-shadow: 0 0 5px red;
}

#player2name:hover {
  box-shadow: 0 0 5px blue;
}

#player1name, #player2name , #inputPlayer1name , #inputPlayer2name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
