h1 {
  text-align: center;
}

.jumbotron {
  background-image: url(../image/pig.jpg), url(../image/dice.jpg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat;
}

.gameScreen {
  display: none;
}

.column1player {
  border: 2px solid red;
  border-radius: 5px;
}

.column2player {
  border: 2px solid blue;
  border-radius: 5px;
}

#player1name , #inputPlayer1name {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
